name: test

on:
  pull_request:
    branches:
      - "main"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "^1.21.0"
      - run: go test ./pmtiles
  fmt_vet_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "^1.21.0"
      - run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi
      - run: go vet caddy/pmtiles_proxy.go
      - run: go vet main.go
      - run: go vet pmtiles/*
      - name: Run Revive Action by pulling pre-built image
        uses: docker://morphy/revive-action:v2
